<header>
  <div class="wrap">
    <div class="header-wrap">
      <div class="logo">
        <h3><a href="/index.html">Carissa Melanson</a></h3>
        <!-- <h4>Designer</h4> -->
      </div>
      <nav class="nav-collapse">
        <ul>
          <li><a href="/projects.html">Work</a></li>
          <li><a href="/about.html">About</a></li>
          <li><a href="/blog">Journal</a></li>
          <li><a href="/contact.html">Contact</a></li>
        </ul>
      </nav>
    </div>
  <!--   <div class="header-info">
      
      <h1>{{page.title}}</h1>
    </div> -->
    
    
    
  </header>