---
layout: default
---

<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

 
    {{ content }}


</div>

<div class="btn">
		<h6><a href="http://carissamelanson.com/blog/">Back to All Posts</a></h6>
			</div>

<script>
var nav = responsiveNav(".nav-collapse");
</script>





